
h1 {
    text-align: center;
    font-size: 5vw;
    margin-top: 5px;
    margin-bottom: 5px;
}

h2 {
    color: royalblue;
    text-align: center;
    font-size: 3vw;
    margin-top: 0px;
}

.firstLetter {
    color: #FF0000;
    font-size: 40;
}
.secondLetter {
    color: #FF7F00;
}
.thirdLetter {
    color: #FFFF00;;
}
.fourthLetter {
    color: #00FF00;
}
.fifthLetter {
    color: #0000FF;
}
.sixthLetter {
    color: #2E2B5F;
}
.seventhLetter {
    color: #8B00FF;
}
.eightsLetter {
    color: #FF0000;
}
.ninthLetter {
    color: #FF7F00;
}

.pics {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.bear, .cat, .baby-shake {
    width: 25vw;
    height:25vw;
}
.title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.chi{
    width: auto;
    height: 10vw;
}



